@import './base.css';
@import './transitions.css';

/* Global CSS */

#app {}

a {
  text-decoration: none;
  color: rgb(199, 73, 73);
}



.app-topbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  position: fixed;
  left: 0;
  /* top left corner should start at leftmost spot */
  top: 0;
  /* top left corner should start at topmost spot */
  width: 100%;
  /* take up the full browser width */
  z-index: 200;
  /* high z index so other content scrolls underneath */
  height: 8vh;
  padding: 0 20%;
  background-color: var(--color-topbar);
  ;

  /* border: 2px solid;
  border-color: rgb(0, 85, 255); */
}

.app-topbar::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary);
  box-shadow: 0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 20px var(--color-secondary),
    0 0 40px var(--color-secondary),
    0 0 80px var(--color-secondary),
    0 0 90px var(--color-secondary),
    0 0 150px var(--color-secondary),
    0 0 200px var(--color-secondary),
    0 0 270px var(--color-secondary);
}


.app-body {

  font-weight: normal;
  border: 1rem;
  padding: 2rem 20%;
  left: 0;
  top: 8vh;


  /* border: 2px solid;
  border-color: rgb(255, 8, 8); */
}

.app-section {
  min-height: 92vh;
  padding-top: 10vh;
}

.app-section-break {
  min-height: 20vh;
}


/* CSS Flex */
.flex-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-left {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flex-right {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.col-1 {
  flex: 0 0 95%
}

.col-2 {
  flex: 0 0 45%
}

.col-4 {
  flex: 0 0 15%
}

.col-8 {
  flex: 0 0 10%
}


.section-title {
  font-family: 'Beon', monospace;
  font-weight: bolder;
}

.neon-text-secondary {
  color: var(--color-secondary-lighter);
  text-shadow: 0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 20px var(--color-secondary);
}

.neon-text-primary {
  color: var(--color-primary-lighter);
  text-shadow: 0 0 5px var(--color-primary),
    0 0 10px var(--color-primary),
    0 0 20px var(--color-primary),
    0 0 40px var(--color-primary),
    0 0 80px var(--color-primary-light),
    0 0 90px var(--color-primary-light),
    0 0 100px var(--color-primary-light);
}

.neon-border {
  border: 2px solid var(--color-secondary-lighter);
  box-shadow: 0 0 5px var(--color-secondary),
    0 0 15px var(--color-secondary);

}




/* PRIMEVUE OVERRIDES */

/* Primvue Accordion */
.p-accordion .p-accordion-content {
  max-height: 60vh;
  overflow-y: scroll;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  color: rgb(255, 0, 0);
  background-color: black;
}

.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {

  box-sizing: border-box;
  border-color: var(--color-secondary-lighter);
  box-shadow: 0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 30px var(--color-secondary);
}

.p-accordion-header-text {
  font-family: 'Beon';
  font-weight: bolder;

}

.p-accordion .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
  color: var(--color-text-header);
}

/* .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {


} */

.p-accordion-tab.p-accordion-tab-active {
  border-radius: 6px;
  box-shadow: 0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 12px var(--color-secondary);
}


/* Primevue TabMenu */
.p-tabmenu .p-tabmenu-nav {
  background: none;
  border: none;
  margin-bottom: 10px;
}


.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  background: none;
  border: none;

  font-family: 'Beon';
  font-weight: bolder;
  color: var(--color-text-header);

}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: none;
  border: none;
  font-family: 'Beon';
  font-weight: bolder;
  color: var(--color-text-header);

}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link:focus {
  outline: none;
  box-shadow: none;
  outline-offset: none;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover {
  background: var(--color-light);
  border-radius: 10%;
  border-color: var(--color-secondary-lighter);
  color: var(--color-text-dark);
  box-sizing: border-box;
  box-shadow: 0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 30px var(--color-secondary);
  transition: 0.15s;
  transition-timing-function: ease-in-out;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
  /* border: none; */
  background: none;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary-lighter);
  box-shadow: 0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 20px var(--color-secondary),
    0 0 40px var(--color-secondary),
    0 0 80px var(--color-secondary),
    0 0 90px var(--color-secondary),
    0 0 130px var(--color-secondary),
    0 0 170px var(--color-secondary-light);
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

/* Primevue Dialog */
.p-dialog .p-dialog-header .p-dialog-title {
  font-family: 'Beon', monospace;
  color: var(--color-primary-light);
  text-shadow: 0 0 5px var(--color-primary),
    0 0 8px var(--color-primary);
}

.p-dialog .p-dialog-header .p-dialog-title::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-secondary-lighter);
  box-shadow: 0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 20px var(--color-secondary),
    0 0 40px var(--color-secondary),
    0 0 80px var(--color-secondary),
    0 0 90px var(--color-secondary),
    0 0 100px var(--color-secondary);
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.p-dialog-mask .p-dialog {
  width: 50%;
}

.p-dialog .p-dialog-header {
  background-color: var(--color-background);
}

.p-dialog .p-dialog-content {
  background-color: var(--color-background);
  color: var(--color-text)
}

/* Primevue ScrollTop */
.p-scrolltop {
  border: 2px solid var(--color-light);
}

/* Primevue PanelMenu */
.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
  font-family: 'Beon', monospace;
  color: var(--color-text-darkest);
  font-weight: bold;

}

.p-panelmenu .p-menuitem-content .p-menuitem-link {
  cursor: default;
}

.p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus>.p-menuitem-content {
  background: var(--color-background-light);
}

.p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover {
  background: var(--color-light-focus);
}

.p-panelmenu .p-panelmenu-content .p-menuitem>.p-menuitem-content .p-menuitem-link {
  padding: 0.25rem 1.25rem;
}

.p-panelmenu .p-panelmenu-content .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: var(--color-text-dark);
  font-weight: light;
  border-bottom: 1px dotted var(--color-medium);
  width: 100%;
}

/* Primevue Sidebar */
.p-sidebar {
  background-color: var(--color-background);
  color: var(--color-text);
}

.p-sidebar .p-sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: auto 10vw;

}

@media (max-width: 768px) {

  .app-topbar {
    padding: 5%;
  }

  .p-dialog-mask .p-dialog {
    width: 90%;
  }

  .dialog-img {
    width: 60vw;
    height: 40vw;
  }

  .p-dialog .p-dialog-header .p-dialog-header-maximize {
    visibility: hidden;
  }
}


@media (max-width: 480px) {

  .p-galleria .p-galleria-caption {
    visibility: hidden;
  }


}