.v-enter-active {
  transition: opacity 0.8s;
}

.v-enter-from {
  opacity: 0;
}


/* 
.fade-leave-active,
.fade-enter-active {
  transition: opacity 0.8s;
}

.fade-leave-to,
.fade-enter-from {
  opacity: 0;
} */
